/*
Theme Name: toffoli-fr.
Theme URI: robagrafica.com
Description: Toffoli Theme.
Version: 1.0
Author: (rob.a) grafica
Author URI: robagrafica.com.
*/
@import url(css/main.css);

.open .dropdown-content{
	width: 83px;
    position: absolute;
    top: 50px;
    left: 0px;
    opacity: 1;
    display: block;
}
  
  
@media only screen and (max-width: 1024px){
	nav .brand-logo{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)
	}
	.hide-on-med-and-down {
    display: none !important;
}
}
@media only screen and (min-width: 993px){
nav a.button-collapse {
    display: block !important;
}
}
@media only screen and (min-width: 1025px){
nav a.button-collapse {
    display: none !important;
}
}
