//SASS di Matteo Baratin

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

$sans: 'Raleway', sans-serif;
$blue: #63A3DA;

body,html{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
}
.header{
    position: absolute;
    top: 25px;
    width: 100%;
}
.homepage{
    width: 100%;
    height: 100%;
    background-image: url(../img/homepage.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.azienda{
    width: 100%;
    height: 100%;
    background-image: url(../img/video-imm.jpg);
    background-size: cover;
    background-position: center top;
    text-align: center;
}
#play{
    font-size: 120px;
    color: white;
    transition: all 0.3s;
    &:hover{
        color: $blue;
    }
}
a {
    color: $blue;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.nivo-lightbox-theme-default .nivo-lightbox-close {
    width: 23px;
    height: 23px;
}
h1{
    font-weight: 900;
    font-size: 90px;
}
h3{
    font-size: 25px;
    color: $blue;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
    font-size: 25px;
}
.brand-logo{
    img{
        width: 240px;
    }
}
nav {
    color: #fff;
    background-color: transparent;
    width: 100%;
    height: 56px;
    line-height: 56px;
    box-shadow: none;
    text-transform: uppercase;
}
nav ul a {
    transition: background-color .3s;
    font-size: 0.9rem !important;
    color: #fff;
    display: block;
    padding: 0 11px;
    cursor: pointer;
}
small{
    font-size: 25px;
    font-family: $sans;
}
.tabella{
    display: table;
    width: 100%;
    height: 100vh;
    .cella-tabella{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        padding: 25px 0;
    }
}
.giu{
    display: inline-block;
    transform: rotate(90deg);
}
.arrow{
    position: absolute;
    left: 50%;
    bottom: 50px;
    font-size: 50px;
        -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
        -webkit-animation: anim-arrow 3s infinite; /* Safari 4+ */
        -moz-animation:    anim-arrow 3s infinite; /* Fx 5+ */
        -o-animation:      anim-arrow 3s infinite; /* Opera 12+ */
        animation:         anim-arrow 3s infinite; /* IE 10+, Fx 29+ */
    line-height: 10px;
    i{
        line-height: 20px;
    }
}
.our-sections{
    width: 100%;
    min-height: 100%;
    position: relative;
    background-image: url(../img/cold.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    transition: background-image 0.3s;
}
.testata{
    width: 100%;
    height: 100%;
    text-align: center;
}
.story{
    width: 100%;
    min-height: 100%;
    position: relative;
    background-image: url(../img/azienda.jpg);
    background-size: cover;
    background-position: center center;
    text-align: justify;
    transition: background-image 0.3s;
}

@-webkit-keyframes anim-arrow {
  0%   { bottom: 50px }
  50%  { bottom: 30px }
  100% { bottom: 50px }
}
@-moz-keyframes anim-arrow {
  0%   { bottom: 50px }
  50%  { bottom: 30px }
  100% { bottom: 50px }
}
@-o-keyframes anim-arrow {
  0%   { bottom: 50px }
  50%  { bottom: 30px }
  100% { bottom: 50px }
}
@keyframes anim-arrow {
  0%   { bottom: 50px }
  50%  { bottom: 30px }
  100% { bottom: 50px }
}
//.button{
//    color: white;
//    display: inline-block;
//    padding: 5px 25px;
//    border: 1px solid white;
//    min-width: 100px;
//    text-transform: uppercase;
//}
  .clearfix:before, 
  .clearfix:after {
    content: " "; 
    display: table; 
  }

  .clearfix:after {
    clear: both;
  }
.sezioni{
    .thumb{
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        position: relative;
        &:hover{
            opacity: 1;
        }
        &:hover .hover-hidden{
            opacity: 1;
            top: 15px;
        }
        &:hover .immag{
            opacity: 1;
        }
        .hover-hidden{
            opacity: 0;
            top: -25px;
            transition: all 0.2s;
            position: relative;
            margin-right: auto;
            margin-left: auto;
            height: 200px;
        }
        .immag{
            height: 110px;
            opacity: 0.7;
            margin-bottom: 25px;
            transition: all 0.3s;
            img{
                max-height: 100%;
            }
        }
    }
}
.news .content .blu {
        height: 100% !important;
    }
      .news .content p {
        bottom: 0 !important;
        opacity: 1 !important;
    }
.pubb{
    display: block;
    width: 100%;
    font-size: 0.7em;
}
/* General button style (reset) */
.button {
	text-transform: uppercase;
    background: transparent;
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 5px 25px;
    min-width: 100px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    opacity: 1;
    transition: all 0.4s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1e */
.button {
	overflow: hidden;
}

.button:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.button:hover,
.button:active {
	color: black;
}

.button:hover:after {
	height: 240%;
	opacity: 1;
}

.button:active:after {
	height: 350%;
	opacity: 1;
}
.dropdown-content{
    width: 100% !important;
    min-width: 230px;
}
nav ul li {
    position: relative;
}
.paragrafo{
    p{
        margin-top: 30px;
    }
}
.immag-testa{
    height: 110px;
    margin-bottom: 25px;
    transition: all 0.3s;
    img{
        max-height: 100%;
    }
}
.certificati{
    margin-top: 30px;
    li{
        clear: both;
        width: 100%;
    }
    img{
        height: 50px;
        margin-right: 15px;
        float: left;
    }
    span{
        float: left;
        margin-top: 10px;
    }
    
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: black;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
nav ul a:hover, .side-nav a:hover {
    background-color: $blue;
    color: white;
}
.footer{
    width: 100%;
    background-color: black;
    padding: 50px 0 30px 0;
    h5{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    .social{
        li{
            i{
                font-size: 1.5em;
                width: 30px;
                position: relative;
                top: 3px;
            }
        }
    }
    input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
        background-color: white;
        border: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 35px;
        width: 100%;
        font-size: 1rem;
        color: black;
        margin: 0 0 20px 0;
        padding: 5px 15px 5px 15px;
        box-shadow: none;
        box-sizing: border-box;
        transition: all 0.3s;
    }
    input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border: 1px solid $blue;
        box-shadow: none;
    }
    #newsletter{
        position: relative;
        input{
            float: left;
        }
        button{
            float: right;
            position: absolute;
            top: 0;
            right: 0;
            height: 35px;
            width: 35px;
            background-color: $blue;
            border: 0;
        }
    }
}
.pie{
    background-color: #333333;
    p{
        margin: 0;
        padding: 10px 0;
        color: #7D7D7D;
        a{
            color: #7D7D7D;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
#redNetech{
    color: #FF0000;
}

//BACKGROUND TESTATE

#refrigerazione-w{
    background-image: url(../img/refrigerazione-woman.png);
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
}
.blocchi{
    padding: 50px 0;
    margin-top: 150px;
}
.box{
    position: relative;
    width: 50%;
    float: left;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 15px;
        
        .title-box{
                height: 100%;
                position: relative;
                width: 100%;
            z-index: 5;
                &:hover .blu{
                height: 100% !important;
                }
                &:hover p{
                    bottom: 0 !important;
                    opacity: 1 !important;
                }
            .blu{
                background-color: rgba(99,163,218,0.6);
                height: 0;
                width: 100%;
                overflow: hidden;
                -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
               -moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
                 -o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
                    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

            -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
               -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
                 -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
                    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
                p{
                    margin: 0;
                    padding: 25px;
                    position: absolute;
                    bottom: 15%;
                    opacity: 0;
                    left: 0;
                    font-size: 1.7em;
                    color: white;
                    -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
               -moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
                 -o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
                    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

            -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
               -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
                 -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
                    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
                }
            }  
        }
    }
}
.box.first{
    margin-top: -15%;
}
.parallax-mirror{
    z-index: 1 !important;
}
#map{
    width: 100%;
    height: 400px;
    margin-top: 120px;
}
.contenitore{
    padding: 50px 0;
}
.paragrafo i{
    color: $blue;
    font-size: 25px;
    position: relative;
    top: 3px;
    margin-right: 8px;
}
.no-absolute{
    position: relative !important;
    display: inline-block !important;
}
#news{
    margin-top: 120px;
    .data-news{
        color: $blue;
    }
    .back{
        color: white;
        font-size: 16px;
        margin-bottom: 50px;
        a{
            color:white;
            transition: all 0.3s;
            &:hover{
                color: $blue;
            }
        }
    }
}
.condividi{
    padding: 0;
    margin: 0;
    margin-top: 50px;
    li{
        color: $blue;
        display: inline-block;
        margin: 0 5px;
    }
}


/* ==================
    Media Query
===================== */

@media screen and (max-width: 1199px) {
    
}
@media screen and (max-width: 991px){
    
}
@media screen and (max-width: 767px){
    h1 {
        font-size: 50px;
    }
    small {
        font-size: 18px;
    }
    .box{
        width: 100%;
        margin: 0 !important;
    }
    .blocchi{
        margin-top: 50px !important;
    }
}
@media screen and (max-width: 479px){
    .brand-logo img {
        width: 175px;
    }
    h1 {
        font-size: 36px;
    }
    small {
        font-size: 16px;
        font-family: "Raleway", sans-serif;
    }
    .sezioni .thumb .hover-hidden {
        opacity: 1 !important;
        top: 15px !important;
    }
    .sezioni .thumb .immag {
        opacity: 1 !important;
    }
    .sezioni .thumb {
        width: 100%;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1024px) {
     .sezioni .thumb .hover-hidden {
            opacity: 1 !important;
            top: 15px !important;
        }
        .sezioni .thumb .immag {
            opacity: 1 !important;
        }
      .box .content .blu {
        height: 100% !important;
    }
      .box .content p {
        bottom: 0 !important;
        opacity: 1 !important;
    }
}